/* Bootstrap ile uyumlu temel stil ayarları */
.card {
  border-radius: 8px;
}

.card-header {
  background-color: #22262b;
  color: #fff;
}

.alert {
  border-radius: 4px;
}

.btn-primary {
  background-color: #22262b
}

main {
  flex: 1;
  /* İçerik genişliği */
  padding: 2rem;
}